@charset "utf-8";
blockquote,body,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0;outline:0}
abbr,acronym,fieldset,img{border:0}
ol,ul{list-style:none}
caption,th{text-align:left}
.clearfix:after{content:"";height:0;line-height:0;display:block;visibility:hidden;clear:both}
.clearfix{zoom:1}
.dn{display:none}
body{color:#333;font-size:14px;line-height:1.7;font-family:"PingFang SC","Microsoft Yahei",sans-serif;}
*{-wekit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
a{-ms-transition:.3s;-moz-transition:.3s;-webkit-transition:.3s;-o-transition:.3s;transition:.3s}
img,video{width:auto;height:auto;max-width:100%;vertical-align:middle}
img{object-fit:cover}
video{outline:0;border:none}
a{color:#333;text-decoration:none;border:none;outline:0}
textarea{resize:none}
input,select,textarea{font-size:14px;color:#999;font-family:"Microsoft Yahei",sans-serif;outline:0;border:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box}
input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:none;-moz-appearance:none;appearance:none;cursor:pointer}
::-webkit-input-placeholder{color:#999}
::-moz-placeholder{color:#999}
::-ms-input-placeholder{color:#999}
input:-webkit-autofill{ -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;box-shadow: 0 0 0px 1000px #ffffff inset !important;-webkit-text-fill-color: #333!important;}
.wrap{max-width: 1180px;width: 94%; margin: 0 auto;}
/* ===============header=============== */
.index-box{background: url(https://bu.dusays.com/2022/10/29/635d03e057789.png) no-repeat top center;-webkit-background-size: cover;background-size: cover;padding-bottom: 86px;}
.header{padding:20px 92px 20px 72px;position: fixed;width: 100%;left: 0;top: 0;z-index: 999;-ms-transition:.3s;-moz-transition:.3s;-webkit-transition:.3s;-o-transition:.3s;transition:.3s;}
.header.active{background-color: #1a2f44;padding-top: 0;padding-bottom: 0;}
.header.active.other{background-color: #1b2026;}
.header .logo{display: block;float: left;width: 290px;}
.header .logo1{display: block;float: left;width: 90px;}
.header .logo{width: 290px;}
.header .nav-ul{float: right;}
.nav-ul li{float: left;margin-left: 33px;font-size: 14px;line-height: 96px;-ms-transition:.3s;-moz-transition:.3s;-webkit-transition:.3s;-o-transition:.3s;transition:.3s;color: #D5EDF8;cursor: pointer;}
.nav-ul li:hover>a{
    color: #47BFF6;
}
.nav-ul li a{display: block;color: #D5EDF8;}
.nav-ul li:first-child a{background: url(../img/icon-index2.png) no-repeat left center;background-size: 14px;padding-left: 20px;}
.nav-ul li:hover>a,.nav-ul li.on>a{color: #47BFF6;}
.nav-ul li:first-child.on a{background: url(../img/icon-index1.png) no-repeat left center;background-size: 14px;}
.menuBtn{position:relative;z-index:9;width:26px;cursor:pointer;height:24px;transition:.3s;-ms-transition:.3s;-moz-transition:.3s;-webkit-transition:.3s;-o-transition:.3s;margin-top: -5px;display: none;}
.menuBtn span{display:block;height:3px;width:100%;background-color:#fff;margin:5px 0;border-radius:2px;transition:.3s;-ms-transition:.3s;-moz-transition:.3s;-webkit-transition:.3s;-o-transition:.3s;-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px}
.menuBtn span:last-child{margin-bottom:0}
.menuBtn.open span{opacity:0;position:absolute}
.menuBtn.open span:first-child{left:0;top:0;opacity:1;transform:rotate(45deg);-webkit-transform:rotate(45deg);-o-transform:rotate(45deg);-ms-transform:rotate(45deg);-moz-transform:rotate(45deg);transform-origin:0 0}
.menuBtn.open span:last-child{opacity:1;left:-2px;bottom:-2px;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform-origin:0 0;-moz-transform:rotate(-45deg)}


.index-voide{width: 100%;height: 70vh;overflow: hidden;}
.index-voide video{display: block;min-height: 100%;min-width: 100%;-webkit-object-fit: cover;object-fit: cover;}

.index-banner{text-align: center;position: relative;margin-top: -200px;margin-bottom: 40px;}
.index-banner .wrap{padding-right: 18px;}
.index-banner .content{background: url(https://pic.imgdb.cn/item/62ffa0a616f2c2beb15d182f.png) no-repeat;-webkit-background-size: cover;background-size: cover;padding: 56px 84px 74px;}
.index-banner h1{margin-bottom: 24px;}
.index-banner h1 img{width: 272px;}
.index-banner p{font-size: 14px;color: #D5EDF8;line-height: 22px;font-weight: 400;margin-bottom: 20px;
font-family: PingFangSC-Regular;}

.index-title{margin-bottom: 50px;}
.index-title .left{float: left;}
.index-title .right{float: right;margin-top: 25px;}
.index-title h2{font-family: "PingFangSC-Semibold";font-size: 40px;color: #D5EDF8;letter-spacing: 0;font-weight: 600;line-height: 50px;font-weight: normal;}
.index-title span{opacity: 0.32;font-family: PingFangSC-Light;font-size: 16px;color: #D5EDF8;letter-spacing: 0;font-weight: 200;line-height: 26px;text-transform: uppercase;}
.index-title a{display: inline-block;font-family: "PingFangSC-Semibold";font-size: 14px;color: #47BFF6;letter-spacing: 0;text-align: center;font-weight: 600;line-height: 48px;width: 120px;height: 48px;background: #122436;cursor: pointer;}
.index-title a img{vertical-align: middle;width: 12px;margin-top: -2px;}
.index-title a:first-child{margin-right: 6px;}
.index-title a:first-child img{margin-right: 8px;}
.index-title a:hover{background: #1a3b52;}
.index-record{margin-bottom: 60px;}
.record-con .col-l{float: left;width: 256px;}
.record-con .col-l strong{display: block;font-family: "PingFangSC-Semibold";font-size: 24px;color: #D5EDF8;letter-spacing: 0;line-height: 34px;font-weight: 600;margin-bottom: 15px;}
.record-con .col-l strong span{font-family: PingFangSC-Thin;font-size: 16px;color: rgba(213,237,248,0.32);font-weight: 200;}
.record-con .col-l li{background-color: #162435;position: relative;margin-bottom: 4px;padding: 16px 16px 22px;z-index: 0;}
.record-con .col-l li::before{content: '';width: 2px;position: absolute;left: 0;top: 0;bottom: 0;background-color: #47BFF6;-webkit-transition:all .3s ease;-moz-transition:all .3s ease; -ms-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease;z-index: -1;}
.record-con .col-l li .one{overflow: hidden;}
.record-con .col-l li .one span{float: left;font-family: Alata-Regular;font-size: 32px;color: #47BFF6;letter-spacing: 0;line-height: 40px;font-weight: 400;}
.record-con .col-l li .one img{width: 22px;float: right;margin-top: 10px;}
.record-con .col-l li p,.record-con .col-l li p a{font-family: PingFangSC-Regular;font-size: 14px;color: #D5EDF8;line-height: 20px;font-weight: 400;overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;margin-top: 6px;}
.record-con .col-l li:hover:before{width: 100%;}
.record-con .col-l li:hover .one span{color: #D5EDF8;}
.record-con .col-r{float: right;width: 65%;padding-right: 56px;}
.record-con .col-r ul{position: relative;height: 890px;}
.record-con .col-r ul::before{content: "";position: absolute;left: 50%;top: -40px;bottom: 0;margin-left: -1px;width: 2px;background: url(../img/material-2.png) no-repeat;background-size: 100% 100%;}
.record-con .col-r li{width:100%;max-width: 358px;position: absolute;top: 0;}

.record-con .col-r li .year{display: block;font-family: Alata-Regular;font-size: 24px;color: #FFFFFF;letter-spacing: 0;font-weight: 400;line-height: 34px;margin-bottom: 16px;position: relative;}
.record-con .col-r li p{font-family: PingFangSC-Regular;font-size: 14px;color: #D5EDF8;letter-spacing: 0;line-height: 28px;font-weight: 400;padding-left: 28px;background: url(../img/icon-jb.png) no-repeat left center;background-size: 18px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.record-con .col-r li p.qidai{background-image: url(../img/icon-qd.png);}
.record-con .col-r li:nth-child(odd){left: 0;}
.record-con .col-r li:nth-child(odd) .year::before{content:'';
width: 280px;height: 14px;background: url(../img/material-4.png) no-repeat;position: absolute;right: -2px;top: 10px;background-size: 100%;}
.record-con .col-r li:nth-child(even) .year::before{content:'';width: 74px;height: 14px;background: url(../img/material-3.png) no-repeat;position: absolute;left: -70px;top: 10px;background-size: 100%;}
.record-con .col-r li:nth-child(even){padding-left: 66px;left: 50%;}

.record-con .col-r li:nth-child(2){top: 42px;}
.record-con .col-r li:nth-child(3){top: 120px;}
.record-con .col-r li:nth-child(4){top: 338px;}
.record-con .col-r li:nth-child(5){top: 470px;}
.record-con .col-r li:nth-child(6){top: 602px;}


.index-team{margin-bottom: 90px;margin-top: -50px;}
.slick-team{position: relative;}
.slick-list .item{padding-right: 27px;}
.slick-list .box{background: #122436;height: 158px;padding: 16px;margin-bottom: 27px;}
.slick-list .box .one{overflow: hidden;margin-bottom: 16px;}
.slick-list .box .one>img{ float: left; width: 56px; height: 56px; border-radius: 12px; -webkit-border-radius: 12px; -moz-border-radius: 12px; -ms-border-radius: 12px; -o-border-radius: 12px; }
.slick-list .box .grid{float: right;overflow: hidden;margin-top: 22px;}
.slick-list .box .grid span,.slick-list .box .grid a{float: left;}
.slick-list .box .grid a:hover{opacity: 0.8;}
.slick-list .box .grid .txt{font-family:PingFangSC-Medium;font-size: 12px;color: #D5EDF8;font-weight: 500;line-height: 32px;padding-left: 24px;background: url(../img/icon-type.png) no-repeat left center;background-size: 18px;margin-right: 24px;}
.slick-list .box .grid .gw{ width: 32px; height: 32px; border-radius:50%;border:1px solid #1a3b52; background: url(../img/icon-gw.png) no-repeat center;background-size: 12px;}
.slick-list .box strong{display: block;font-family: PingFangSC-Medium;font-size: 18px;color: #D5EDF8;letter-spacing: 0;font-weight: 500;line-height: 28px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.slick-list .box p{font-family: PingFangSC-Regular;font-size: 12px;color: #8399a7;letter-spacing: 0;font-weight: 400;line-height: 22px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.slick-team  .slick-dots{text-align: center;margin-top: 42px;}
.slick-team  .slick-dots li{display: inline-block;margin: 0 5px;}
.slick-team  .slick-dots li button{ padding: 0; font-size: 0; width: 8px; height: 8px; border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%;background: #14212f; -webkit-transition:all .3s ease;-moz-transition:all .3s ease; -ms-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease;outline: none;border: none;cursor: pointer;}
.slick-team  .slick-dots li.slick-active button{background: #47bff6; }
.slick-team .slick-arrow{ padding: 0; position: absolute; bottom: -18px; left: 50%; font-size: 0; width: 52px; height: 52px; border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%; -ms-border-radius:50%; -o-border-radius:50%; outline: none;border: none;cursor: pointer;}
.slick-team .slick-prev{margin-left: -120px;background: url(../img/icon-left.png) no-repeat center #122436;background-size: 14px;}
.slick-team .slick-next{margin-left: 65px;background: url(../img/icon-right.png) no-repeat center #122436;background-size: 14px;}

.index-game{margin-bottom: 75px;}
.slick-game{position: relative;}
.slick-game .item{margin: 0 15px;padding: 60px 32px; background: url(../img/game-bg.png) no-repeat top center;-webkit-background-size: 100% 100%;-moz-background-size: 100% 100%;-ms-background-size: 100% 100%;-o-background-size: 100% 100%;background-size: 100% 100%;text-align: center;}
.slick-game .item img{display: block;margin: 0 auto 30px;width: 100%;}
.slick-game .item p{color: #D5EDF8;font-size: 16px;position: relative;}
.slick-game .item p:after{content: "";position: absolute;left: 0;right:0;bottom: -10px;margin: 0 auto; width: 20px;height: 2px;background-color: #FFC293;}
.slick-game .slick-arrow{ padding: 0; position: absolute; top:50%;  font-size: 0; width: 52px; height: 52px; border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%; -ms-border-radius:50%; -o-border-radius:50%; outline: none;border: none;cursor: pointer;z-index: 1;margin-top: -27px;}
.slick-game .slick-prev{background: url(../img/icon-left.png) no-repeat center #122436;background-size: 14px;left: -60px;}
.slick-game .slick-next{background: url(../img/icon-right.png) no-repeat center #122436;background-size: 14px;right: -60px;}
.index-deep{margin-bottom: 48px;}
.list-ul{margin-left: -2%;}
.list-ul li{float: left;width: 23%;margin-left: 2%;background-color: #122436;margin-bottom: 27px;}
.list-ul li img{display: block;width: 100%;}


.members-box{background: url(../img/programA-all.png) no-repeat top center;-webkit-background-size: cover;-moz-background-size: cover;-ms-background-size: cover;-o-background-size: cover;background-size: cover;padding-top: 136px;padding-bottom: 90px;}

.members-list{margin-left: -2%;margin-top: 40px;}
.members-list li{background: rgba(18, 36, 54, 0.8);padding: 16px;margin-bottom: 27px;float: left;width: 23%;margin-left: 2%;}
.members-list li .one{overflow: hidden;margin-bottom: 16px;}
.members-list li .one>img{ float: left; width: 56px; height: 56px; border-radius: 12px; -webkit-border-radius: 12px; -moz-border-radius: 12px; -ms-border-radius: 12px; -o-border-radius: 12px; }
.members-list li .grid{float: right;overflow: hidden;margin-top: 22px;}
.members-list li .grid span,.members-list li .grid a{float: left;}
.members-list li .grid a:hover{opacity: 0.8;}
.members-list li .grid .txt{font-family:PingFangSC-Medium;font-size: 12px;color: #D5EDF8;font-weight: 500;line-height: 32px;padding-left: 24px;background: url(../img/icon-type.png) no-repeat left center;background-size: 18px;margin-right: 24px;}
.members-list li .grid .gw{ width: 32px; height: 32px; border-radius:50%;border:1px solid #1a3b52; background: url(../img/icon-gw.png) no-repeat center;background-size: 12px;}
.members-list li strong{display: block;font-family: PingFangSC-Medium;font-size: 18px;color: #D5EDF8;letter-spacing: 0;font-weight: 500;line-height: 28px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.members-list li p{font-family: PingFangSC-Regular;font-size: 12px;color: #8399a7;letter-spacing: 0;font-weight: 400;line-height: 22px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}


.zhou-bg.zhanji{
    background-image: url(../images/Behance.gif);
    background-repeat: no-repeat;
    background-position: top -260px left 80px;
    background-color: #000;
    -webkit-background-size: auto;-moz-background-size: auto;-o-background-size: auto;background-size: auto;
}
.zhou-bg{background: url(../img/zhou-bg.png) no-repeat top center;padding-top: 136px;-webkit-background-size: cover;-moz-background-size: cover;-ms-background-size: cover;-o-background-size: cover;background-size: cover;}
/* .excellent-bg{background: url(../images/Behance.gif) no-repeat top center;padding-top: 136px;-webkit-background-size: cover;-moz-background-size: cover;-ms-background-size: cover;-o-background-size: cover;background-size: cover;} */
.zhou-name{float: left;position: relative;line-height: 1.1;}
.zhou-name:before{content: "";position: absolute;left: 0;top: 0;width: 40px;height: 4px;background-color: #47BFF6;}
.zhou-name:after{content: "";position: absolute;left: 40px;top: 0;width: 32px;height: 4px;background-color: #FFC293;}
.zhou-name span{display: block;font-size: 24px;color: rgba(213,237,248,0.2);text-transform: uppercase;margin-top: 8px;}
.zhou-name h1{color: #D5EDF8;font-size: 48px;font-weight: normal; margin-top: 14px;}
.zhou-type{float: right;}
.zhou-type ul{margin-top: 90px;}
.zhou-type ul li{float: left;width: 56px;text-align: center;line-height: 32px;font-size: 14px;}
.zhou-type ul li a{display: block;color: #FFF;}
.zhou-type ul li.on a,.zhou-type ul li:hover a{background-color: rgba(71,191,246,0.24);color: #47BFF6;-webkit-border-radius: 8px;-moz-border-radius: 8px;-ms-border-radius: 8px;-o-border-radius: 8px;border-radius: 8px;}

.zhou-show{margin-top: 44px;}
.zhou-show ul{margin-left: -2%;}
.zhou-show li{float: left;width: 23%; margin-left: 2%;margin-bottom: 30px; background-color: rgba(18, 36, 54, 0.8);padding: 26px;}
.zhou-show li .pic{margin: 20px 49px 40px;}
.zhou-show li .pic a{position: relative;padding-top: 100%;display: block;}
.zhou-show li .pic a img{position: absolute;left: 0;top: 0;width: 100%;height: 100%;}
.zhou-show li .txt{display: block;font-size: 16px;color: #47BFF6;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.zhou-show li p{font-size: 12px;color: #D5EDF8;overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;margin: 2px 10px 0 2px;}
.zhou-page{text-align: center;margin: 80px auto;}
.zhou-page li{display: inline-block;font-size: 0;min-width: 24px}
.zhou-page li a{display: block; font-size: 14px;color: rgba(71,191,246,0.4);line-height: 24px;}
.zhou-page li.on a,.zhou-page li a:hover{background-color: rgba(71,191,246,0.08);color: #47BFF6;-webkit-border-radius: 4px;-moz-border-radius: 4px;-ms-border-radius: 4px;-o-border-radius: 4px;border-radius: 4px;}

.footer{text-align: center;background-color: #162132;padding: 40px 0;line-height: 30px;color:#FFF;font-size: 14px;}
.footer a{color: #FFF;}
.footer a:hover{color: #47BFF6;}


.record-name{float: left;position: relative;line-height: 1.1;}
.record-name span{display: block;font-size: 24px;color: rgba(213,237,248,0.2);text-transform: uppercase;margin-top: 8px;}
.record-name h1{color: #D5EDF8;font-size: 48px;font-weight: normal; margin-top: 14px;font-family: "PingFangSC-Semibold";}
.record-name:before{content: "";position: absolute;left: 0;top: 0;width: 40px;height: 4px;background-color: #47BFF6;}
.record-name:after{content: "";position: absolute;left: 40px;top: 0;width: 32px;height: 4px;background-color: #FFC293;}
.record-type{float: right;}
.record-type ul{margin-top: 90px;}
.record-type ul li{float: left;width: 56px;text-align: center;line-height: 32px;font-size: 14px;color: #FFF;cursor: pointer;}
.record-type ul li.on,.zhou-type ul li:hover{background-color: rgba(71,191,246,0.24);color: #47BFF6;-webkit-border-radius: 8px;-moz-border-radius: 8px;-ms-border-radius: 8px;-o-border-radius: 8px;border-radius: 8px;}

.record-no{display: none;}
.record-show{padding: 50px 45px;margin: 40px 0 130px;  background-color: rgba(56,65,79,0.32);min-height: 600px;}
.list-year{padding-left: 33px;margin-bottom: 32px;}
.year-top{position: relative;line-height: 1.1;}
.year-top:before{content: "";position: absolute;left: -33px;top: 9px;width: 16px;height: 16px;background: url(../img/record-icon.png) no-repeat;-webkit-background-size: cover;-moz-background-size: cover;-ms-background-size: cover;-o-background-size: cover;background-size: cover;}
.year-top:after{content: "";position: absolute;top:18px;left: 111px;right: 60px;height: 1px;background: rgba(71,191,246,1);background: -webkit-linear-gradient(left, rgba(71,191,246,1) 0%,rgba(71,191,246,0) 100%);background: -moz-linear-gradient(left, rgba(71,191,246,1) 0%,rgba(71,191,246,0) 100%);background: -ms-linear-gradient(left, rgba(71,191,246,1) 0%,rgba(71,191,246,0) 100%);background: -o-linear-gradient(left, rgba(71,191,246,1) 0%,rgba(71,191,246,0) 100%);background: linear-gradient(to right, rgba(71,191,246,1) 0%,rgba(71,191,246,0) 100%);}
.year-top span{font-size: 32px;color: #FFF;}
.year-top i{position: absolute;right: 0;top: 3px;width: 28px;height: 28px;background: url(../img/record-icon01.png) no-repeat;-webkit-background-size: cover;-moz-background-size: cover;-ms-background-size: cover;-o-background-size: cover;background-size: cover;cursor: pointer;-webkit-transition:all .3s ease;-moz-transition:all .3s ease; -ms-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease;}
.year-top i.infono{-webkit-transform:rotate(180deg);transform:rotate(180deg);}
.year-info{padding: 28px 0;}
.year-info p{color: #D5EDF8;font-size: 14px;line-height: 32px;}
.year-info p img{width: 16px;margin-right: 10px;display: inline-block;vertical-align: middle;margin-top: -3px;}


.popu-info,.popu-coop{position:fixed;width:100%;height:100%;left:0;top:-100%;-webkit-transition:.3s;-ms-transition:.3s;-moz-transition:.3s;-o-transition:.3s;transition:.3s;opacity:0;filter:alpha(opacity=0);z-index:9999;visibility: hidden;}
.popu-info.open,.popu-coop.open{top:0;opacity:1;filter:alpha(opacity=100);visibility: visible;}
.popu-show{position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transform:translate(-50%,-50%);z-index:1;width:92%;max-width:900px;-webkit-box-shadow: 0 6px 20px rgba(0,0,0,.4);-moz-box-shadow: 0 6px 20px rgba(0,0,0,.4);-ms-box-shadow: 0 6px 20px rgba(0,0,0,.4);-o-box-shadow: 0 6px 20px rgba(0,0,0,.4);box-shadow: 0 6px 20px rgba(0,0,0,.4);background-color: rgba(18, 36, 54, 0.95);}

.popu-top{padding: 70px;line-height: 1.2;font-size: 16px;color: #D4E8EE;position: relative;z-index: 1;}
.popu-top strong{display: block;color: #49C6FF;font-size: 28px;}
.popu-top p{margin-top: 15px;}
.popu-top p.top-font{margin-top: 70px;}
.popu-top ul{margin: 60px 0;}
.popu-top ul li{margin-bottom: 8px;}
.popu-top ul li img{width: 18px;display: inline-block;vertical-align: middle;margin-top: -4px;margin-right: 8px;}
.popu-top ul li span{display: inline-block;width: 60px;margin-right: 12px;color: #657A89;}
.popu-bot{background-color: rgba(22, 48, 68,.95);padding: 20px;line-height: 45px;text-align: right;position: relative;z-index: 1;}
.popu-bot span{display: inline-block;width: 140px;color: #FFF;text-align: center;background-color: #47bff6;font-size: 16px;cursor: pointer;}
.popu-bot span.popu-close{background-color: #19384f;margin-right: 18px;}
.popu-bot span:hover{background-color: #33ace3;}
.popu-bot span img{display: inline-block;vertical-align: middle;margin-top: -3px;width: 18px;}

.totop{position:fixed;right:20px;bottom:100px;width:56px;z-index:99999;cursor: pointer;display: none;}
.totop img{display:block;width:100%}
.fd-logo{margin-bottom: 15px;}
.fd-logo img{display: block;margin: 0 auto;}
.nav-ul dl{background-color: #1a3b52;padding: 5px 0;position: absolute;left: 0;top: 80px;width: 150px;display: none;}
.nav-ul li.level>a{padding-right: 20px;background-repeat: no-repeat;background-position: right center;background-image: url(../img/down.png);-webkit-background-size: 12px;-moz-background-size: 12px;-o-background-size: 12px;background-size: 12px;}
.nav-ul li.level.open>a{background-image: url(../img/up.png);}
.nav-ul li{position: relative;}
.nav-ul dl dd a{font-size: 14px;line-height: 34px;padding: 0 20px;color: #fff;display: block;}
.nav-ul dl dd a:hover{color: #47bff6;}




@media screen and (max-width: 1599px){
    .zhou-bg.zhanji{background-position: top -160px left -80px;-webkit-background-size:750px;-moz-background-size:750px;-o-background-size:750px;background-size:750px;}

}
@media screen and (max-width: 1200px){
    .header{padding: 20px 40px;}
    .header .logo{width: 160px;}
    .fd-logo{margin-bottom: 8px;}
    .fd-logo img{width: 120px;}
}
@media screen and (max-width: 999px){
    .nav-ul dl{position: static;background-color:transparent;padding: 0;}
    .nav-ul dl dd a{font-size: 12px;line-height: 24px;padding: 0;}
    .header{padding: 20px 15px 20px 15px;}
    .header .logo {width: 180px;}
    .header .logo1{width: 52px;}
    .nav-ul{width: 200px;position: absolute;right: 0;top: 60px;background: #122436;z-index: 9999;padding: 10px;display: none;}
    .nav-ul li{float: none;line-height: 50px;}
    .menuBtn{display: block;float: right;margin-top: 12px;}
    .record-con .col-r{padding-right: 0;}
    .record-con .col-r li{max-width: 306px;}
    .slick-game .slick-prev{left: 0;}
    .slick-game .slick-next{right: 0;}
    .index-banner .wrap{padding-right: 0;}
    .index-banner .content{background: linear-gradient(189deg, rgba(255,255,255,0.12) 0%, rgba(255,255,255,0.00) 89%);padding: 56px 36px 60px;position: relative;}
    .index-banner .content:before{ content: "";width: 100%;height: 100%;position: absolute;left: 0;top: 0;background: inherit;filter: blur(2px);z-index: 2;}
    .record-con .col-r{width: 58%;}
    .record-con .col-r ul{height: auto;}
    .record-con .col-r ul::before{left: 0;}
    .record-con .col-r li{position: static;padding-left: 66px;margin-bottom: 40px;max-width: 100%;}
    .record-con .col-r li:nth-child(odd) .year::before,.record-con .col-r li:nth-child(even) .year::before{display: none;}
    .record-con .col-r li .year::after{content: '';width: 74px;height: 14px;background: url(../img/material-3.png) no-repeat;position: absolute;left: -70px;top: 10px;background-size: 100%;}
    .footer{padding: 18px 0;}
    .index-deep{margin-bottom: 40px;}
    .record-name h1,.zhou-name h1{font-size: 36px;}
    .record-name span,.zhou-name span{font-size: 14px;line-height: 24px;}
    .members-list li{width: 31.3%;}
    .popu-top{padding: 50px;}
    .popu-top strong{font-size: 24px;}
}
@media screen and (max-width: 768px){
    .zhou-bg.zhanji{background-position: top -160px left -180px;-webkit-background-size:750px;-moz-background-size:750px;-o-background-size:750px;background-size:750px;}
    .header{padding: 10px 15px 10px 2px;}
    .index-voide{height: auto;}
    .index-banner{margin-top: -100px;margin-bottom: 20px;}
    .index-banner .content{padding: 36px 20px 30px;}
    .index-banner h1 img{width: 200px;}
    .slick-list .item{padding: 40px 20px;}
    .index-title a{width: 90px;}
    .record-con .col-l{width: 100%;margin-bottom: 60px;}
    .record-con .col-r{width: 100%;}
    .record-con .col-r li{margin-bottom: 20px;padding-left: 48px;}
    .record-con .col-r li:nth-child(even){padding-left: 48px;left: 0;}
    .record-con .col-r li .year::after{width: 46px;left: -50px;}
    .record-con .col-l li .one span{font-size: 26px;}
    .index-record,.index-game{margin-bottom: 40px;}
    .index-title h2{font-size: 32px;line-height: 42px;}
    .index-title span{font-size: 12px;line-height: 22px;}
    .index-title .right{margin-top: 12px;}
    .index-title a{height: 40px;line-height: 40px;}
    .slick-list .box .grid .txt,.members-list li .grid .txt{margin-right: 10px;}
    .slick-list .box .one>img,.members-list li .one>img{width: 40px;height: 40px;}
    .slick-list .box .grid,.members-list li .grid{margin-top: 12px;}
    .slick-team .slick-arrow{width: 42px;height: 42px;bottom: -14px;}
    .index-title{margin-bottom: 25px;}
    .list-ul li{width: 48%;}
    .index-box{padding-bottom: 40px;}
    .index-deep {margin-bottom: 20px;}
    .footer{font-size: 12px;line-height: 20px;}
    .members-list li{width: 48%;padding: 10px;}
    .members-box{padding-bottom: 40px;}
    .zhou-show li .pic{margin: 0px 0px 20px;}
    .zhou-show li{width: 31.3%;}
    .zhou-name h1,.record-name h1{font-size: 32px;}
    .zhou-type ul{margin-top: 42px;}
    .record-type ul{margin-top: 48px;}
    .popu-top{padding: 40px;}
    .popu-top strong{font-size: 22px;}
}
@media screen and (max-width: 480px){
    .members-list li .grid .gw{width: 24px;height: 24px;}
    .members-list li .grid .txt{margin-right: 5px;background-size: 14px;padding-left: 16px;}
    .members-box,.zhou-bg{padding-top: 90px;}
    .zhou-show li{width: 48%;}
    .zhou-type,.record-name{float: none;}
    .zhou-name,.record-type{float: none;}
    .zhou-show li{padding: 12px;}
    .record-show{padding: 30px 20px;margin: 40px 0 80px;}
    .record-type ul{margin-top: 20px;}
    .record-name:after,.record-name:before{height: 2px;}
    .list-year{padding-left: 20px;}
    .popu-top{padding: 20px;font-size: 14px;}
    .popu-top strong{font-size: 20px;}
    .popu-top ul{margin: 36px 0;}
    .popu-bot span{font-size: 15px;width: 120px;}
    .totop{width: 48px;right: 10px;}
}
@media screen and (max-width: 360px){
   
}
@media screen and (max-width: 320px){

}
